# Ignore environment variables file
.env

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (if you use one)
venv/
env/

# macOS system files
.DS_Store

# Logs or temp files
*.log